<form method="post" action="/login" enctype="multipart/form-data">
    <label for="firstname">User Name:</label>
    <input type="text" name="firstname" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <br>
 
    <br>
    <input type="submit" value="login">
  </form>